{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field_with_errors %}
{% from "security/_macros.html" import render_field %}

{% block title %}Register{% endblock %}

{% block body %}
{% include "security/_messages.html" %}
<div class="pageTitle">{{ _('Register') }}</div>
    <form method="POST" action="{{ url_for_security('register') }}" name="register_user_form" role="form">
        <div class="row pad">
            <div class="col-lg-6">
                {{ register_user_form.hidden_tag() }}
                <div class="form-group"> {{ render_field_with_errors(register_user_form.email, class="form-control") }} </div>
                <div class="form-group"> {{ render_field_with_errors(register_user_form.username, class="form-control") }} </div>
                <div class="form-group"> {{ render_field_with_errors(register_user_form.name, class="form-control") }} </div>
                <div class="form-group"> {{ render_field_with_errors(register_user_form.age, class="form-control") }} </div>
                <div class="form-group"> {{ render_field_with_errors(register_user_form.gender, class="form-control") }} </div>
                <div class="form-group"> {{ render_field_with_errors(register_user_form.status, class="form-control") }} </div>
                <div class="form-group"> {{ render_field_with_errors(register_user_form.password, class="form-control") }} </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    {% if register_user_form.password_confirm %}   
                    {{ render_field_with_errors(register_user_form.password_confirm, class="form-control") }}
                    {% endif %}
                </div>

                <!-- <form action="/action_page.php">
                    <label for="img">Upload profile picture:</label>
                    <input type="file" id="img" name="img" accept="image/*" onchnage="loadFile(event)">
                    <img id="output" widht="200">
                    <input type="submit">
                </form> -->

                <!-- <input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;">
                <label for="file" style="cursor: pointer;">Upload Image</label>
                <img id="output" width="200" />
                <input type="submit">

                <script>
                var loadFile = function(event) {
                    var image = document.getElementById('output');
                    image.src = URL.createObjectURL(event.target.files[0]);
                };
                </script> -->

                <!-- <label for>Upload Profile Image:</label>
				<br><input class="form-control center" style="text-align: center;margin: 0 auto;" name ="post_file" type = "file" placeholder = "File"><br> -->

                <input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;">
                <label for="file" style="cursor: pointer;">Upload Image</label>
                <img id="output" width="200" />
                <input type="submit">

                <script>
                    var loadFile = function(event) {
                        var image = document.getElementById('output');
                        image.src = URL.createObjectURL(event.target.files[0]);
                    };
                </script> 

                <!-- <div >
                    <input type="file" name="file" id="file">
                    <input type="button" id="btn_uploadfile" 
                    0   value="Upload" 
                       onclick="uploadFile();" >
                  </div>

                <script>
                  function uploadFile() {
                  
                     var files = document.getElementById("file").files;
                  
                     if(files.length > 0 ){
                  
                        var formData = new FormData();
                        formData.append("file", files[0]);
                  
                        var xhttp = new XMLHttpRequest();
                  
                        // Set POST method and ajax file path
                        xhttp.open("POST", "ajaxfile.php", true);
                  
                        // call on request changes state
                        xhttp.onreadystatechange = function() {
                           if (this.readyState == 4 && this.status == 200) {
                  
                             var response = this.responseText;
                             if(response == 1){
                                alert("Upload successfully.");
                             }else{
                                alert("File not uploaded.");
                             }
                           }
                        };
                  
                        // Send request with data
                        xhttp.send(formData);
                  
                     }else{
                        alert("Please select a file");
                     }
                  
                  }
                </script> -->

            </div>
        </div>

        <div class="row pad">
            <div class="col-lg-6">
                <div class="form-group"> {{ render_field(register_user_form.submit, class="btn btn-primary") }} </div>
            </div>
        </div>
    </form>
{% endblock %}