{% extends "base.html" %}
{% block title %}Add people{% endblock %}
{% block body %}

{% for user in users %}
<div class="panel panel-primary post" id="r1" style="border-radius: 20px;">
    <div class="panel-body">
        <div class="row post">
   	        <div class="col-lg-9">
   	            	<a href="{{ url_for('inspect_profile', user_id=user.id) }}"> <i class="glyphicon glyphicon-user"></i> {{user.name}}</a>
   	            		<form method="POST" role="form" id="invite">
							<input type="hidden" name="user_id" value={{user.id}}>		
							<button type="submit" name="invite" class="btn btn-success"> <i class="glyphicon glyphicon-plus"></i> Add Member </button>
						</form>
	        </div>
  	    </div>
   	</div>
</div>
{% endfor %}

	<div style="padding-bottom: 20px">
		<form method="POST" url ="{{url_for('add_people', group_id=group.id)}}" role="form">
			<input type="text" name="keyword" placeholder = "Enter keyword(s)">
			<button type="submit" name="fuzzy" class="btn btn-success" value="Search"><i class="glyphicon glyphicon-search"></i>Search</br>
		</form>
	</div>

{% endblock %}
