{% extends "base.html" %}
{% block title %}Create Poll{% endblock %}

{% block body %}
<div>
	<form method="POST" role="form" id="theForm" enctype="multipart/form-data">
		<br><textarea name="question" style="width:550px;height:50px;" placeholder = "Question"> {{question.content}}</textarea></br>
		<br>
		{% for option in options %}
			<br><textarea name="{{option.id}}" style="width:150px;height:25px;"> {{option.content}}</textarea>
		{% endfor %}
    	</br>
    	<input type="hidden" id="postId" name="poll_id" value={{poll.id}}>
    	<br><button type="submit" name="poll" class="btn btn-primary"> <i class="glyphicon glyphicon-plus"></i> Submit poll </button>	
    	<button type="submit" name="opt" class="btn btn-primary"> <i class="glyphicon glyphicon-plus"></i> Add option </button></br>
</div>	
    	
	</form>
</div>		
 
{% endblock %}
