{% extends "base.html" %}
{% block title %}Create Poll{% endblock %}

{% block body %}
<div>
	<form method="POST" role="form" id="theForm" enctype="multipart/form-data">
		<div class="col-lg-offset-3" style="padding-bottom: 5px">
		<br><textarea name="question" style="width:550px;height:50px;" placeholder = "Question"> {{question.content}}</textarea></br>
		</div>
		{% for option in options %}
			<div class="col-lg-offset-5" style="padding-bottom: 5px">	
			<textarea name="{{option.id}}" style="width:150px;height:25px"> {{option.content}}</textarea>
			</div>
		{% endfor %}
    	<input type="hidden" id="postId" name="poll_id" value={{poll.id}}>
    	<div class="col-lg-offset-5" style="padding-bottom: 20px">
    		<br><button type="submit" name="poll" class="btn btn-primary"> <i class="glyphicon glyphicon-plus"></i> Submit poll </button>	
    		<button type="submit" name="opt" class="btn btn-primary"> <i class="glyphicon glyphicon-plus"></i> Add option </button></br>
		<div>
</div>	
    	
	</form>
</div>		
 
{% endblock %}
