{% extends "base.html" %}
{% block title %}Group{% endblock %}

{% block body %}
<div class="pageTitle"> {{ group.name }} </div>


<div class="row pad">
    <div class="col-lg-12">
        <div class="panel panel-primary">
        			<div class="panel panel-body">
                    	<a href="{{ url_for('group_calendar', group_id=group.id) }}" class="btn btn-primary"> Group Calendar</a>
                    	<a href="{{ url_for('polls', group_id=group.id) }}" class="btn btn-primary"> Polls</a>		
					</div>		
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <strong>Description of the group:</strong> {{ group.description }}
                    <br/>
                    <br/>
                    <div class="col-lg-12">
                        <br/>  <i class="glyphicon glyphicon-calendar"></i> 
                        {{ group.date_created.strftime('%d.%m.%Y, %H:%M:%S') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if current_user in users or current_user.id == group.admin_id%}
	
	<div>
		<h2>All posts in this group:</h2>
		<form method="POST" url ="{{url_for('group', group_id=group.id)}}" role="form">
			<input type="text" name="keyword" placeholder = "Enter keyword(s)">
			<button type="submit" name="fuzzy" class="btn btn-primary" value="Search">Search</br>
		</form>
	</div>

	{% for post in posts %}
	<div class="panel panel-primary post" id="r1" style="border-radius: 20px;">
    	<div class="panel-body">
    	    <div class="row post">
    	        <div class="col-lg-9">
    	            <div class="post-content"> <a href="{{ url_for('post', post_id=post.id) }}" style="font-size: 18px" class="blue">{{ post.content }} </div>
    	        </div>
    	        {% if current_user.active and current_user.id == group.admin_id%}
    	        <a href="{{url_for('update_post', post_id=post.id)}}" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i> Update</a>
    	        <a href="/delete_post/{{ post.id }}" class="btn btn-primary"><i class="glyphicon glyphicon-remove"></i> Delete</a>
    	        {% endif %}
    	        <br/>
    	        <br/>
    	        <br/>
    	        <div class="col-lg-3">
    	            <div class="post-details">
    	                <i class="glyphicon glyphicon-calendar"></i> {{ post.date_created.strftime('%d.%m.%Y, %H:%M:%S') }} &nbsp; <br />
    	            </div>
    	        </div>
    	    </div>
    	</div>
	</div>
	{% endfor %}
	
	<div class="row">
    		<div class="col-lg-3">
        		<a href=#AddPost data-toggle="modal", class="btn btn-primary" title="Create Post">
            	<i class="glyphicon glyphicon-pushpin"></i> Add Post</a>
    		</div>
		</div>
		<a href="{{url_for('create_poll', group_id=group.id)}}" class="btn btn-primary"><i class="glyphicon-pencil"></i> Create Poll</a>
{% endif %}

{% if current_user.active %}
<div class="modal fade" id="AddPost">
    		<div class="modal-dialog">
        		<div class="modal-content">
           			 <div class="modal-header">
                		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                		<h4 class="modal-title">Create Post</h4>
            		</div>
           		<div class="modal-body">
                    {%if current_user in users or current_user.id == group.admin_id %}
                    	 <form method="POST" role="form" id="theForm" enctype="multipart/form-data">
    					 <br><textarea name="post_content" style="width:550px;height:50px;" placeholder = "Content"></textarea><br>
						 <br><input class="form-control center" style="text-align: center;margin: 0 auto;" name ="post_file" type = "file" placeholder = "File"><br>
                    	 <button type="submit" name="post" class="btn btn-primary"> <i class="glyphicon glyphicon-plus"></i> Add your new post </button>						                               		
                		 </form>
                   	{% else %}
            		<a href="{{ url_for('apply_for_group', group_id=group.id)}}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Apply for group</a>
            		{% endif %}
                </form>
            </div>
        </div>
    </div>
</div>  
	
{% endif %}                   
{% endblock %}
