{% extends "base.html" %}
{% block title %} Your Invitations {% endblock %}

{% block body %}
	{% if invites %}
		<strong> Group invites: </strong>
		</br>
	{% endif %}	
	{%for invitation in invites %}
		<div class="panel panel-primary post" id="r1" style="border-radius: 20px;">
    		<div class="panel-body">
    	    	<div class="row post">
   	    	    <div class="col-lg-9">
   		    	        	<p><a href="{{ url_for('inspect_profile', user_id=invitation.sender.id) }}"> <i class="glyphicon glyphicon-user"></i> {{invitation.sender.name}}</a>
   		    	        	invites you to group   <a href="{{url_for('group', group_id=invitation.group.id)}}"></i>{{invitation.group.name}}</a></br> 
   		    	        	<form method="POST" role="form" id="accept">
								<input type="hidden" id="userId" name="invite_id" value={{invitation.invite.id}}>		
								<button type="submit" name="accept" class="btn btn-success"> <i class="glyphicon glyphicon-ok-sign"></i> Accept </button>
							</form>
							<form method="POST" role="form" id="decline" style="padding-top: 5px">
								<input type="hidden" id="userId" name="decline_id" value={{invitation.invite.id}}>		
								<button type="submit" name="decline" class="btn btn-danger"> <i class="glyphicon glyphicon-remove"></i> Decline </button>
							</form>
		    	    </div>
  		    	</div>
   			</div>
		</div>
	{% endfor %}
	
	</br>
	{% if event_invites %}
		<strong> Event invites: </strong>
		</br>
	{% endif %}
	{%for invitation in event_invites %}
		<div class="panel panel-primary post" id="r1" style="border-radius: 20px;">
    		<div class="panel-body">
    	    	<div class="row post">
   	    	    <div class="col-lg-9">
   		    	        	<p><a href="{{ url_for('inspect_profile', user_id=invitation.sender.id) }}"> <i class="glyphicon glyphicon-user"></i> {{invitation.sender.name}}</a>
   		    	        	invites you to participate in {{invitation.event.name}}</a></p></br> 
   		    	        	<form method="POST" role="form" id="confirm">
								<input type="hidden" id="userId" name="confirm_id" value={{invitation.invite.id}}>		
								<button type="submit" name="confirm" class="btn btn-success"> <i class="glyphicon glyphicon-ok-sign"></i> Confirm participation </button>
							</form>
							<form method="POST" role="form" id="decline" style="padding-top: 5px">
								<input type="hidden" id="userId" name="discard_id" value={{invitation.invite.id}}>		
								<button type="submit" name="discard" class="btn btn-danger"> <i class="glyphicon glyphicon-remove"></i> Discard </button>
							</form>
		    	    </div>
  		    	</div>
   			</div>
		</div>
	{% endfor %}
	
{% endblock %}
