{% extends "base.html" %}
{% block title %}Add to event{% endblock %}
{% block body %}
	<div style="padding-bottom: 5px">
		<form method="POST" url ="{{url_for('invite_to_event', event_id=event.id)}}" role="form">
			<input type="text" name="keyword" placeholder = "Enter keyword(s)">
			<button type="submit" name="fuzzy" class="btn btn-success" value="Search"> <i class="glyphicon glyphicon-search"></i> Search</br>
		</form>
	</div>

<div class="panel panel-primary post" id="r1" style="border-radius: 20px;">
    <div class="panel-body">
        <div class="row post">
   	        <div class="col-lg-9">
   	            {% for user in users %}
   	            	<a href="{{ url_for('inspect_profile', user_id=user.id) }}"> <i class="glyphicon glyphicon-user"></i> {{user.name}}</a>
   	            	<div style="padding-top:5px; padding-bottom:25px">	
   	            		<form method="POST" role="form" id="invite">
							<input type="hidden" name="user_id" value={{user.id}}>		
							<button type="submit" name="invite" class="btn btn-success"> <i class="glyphicon glyphicon-plus"></i> Invite to event </button>
						</form>
   	            	</div>	
   	            {% endfor %}
	        </div>
  	    </div>
   	</div>
</div>
{% endblock %}
