{% extends "base.html" %}
{% block title %}Members{% endblock %}

{% block body %}

	<div>
		<form method="POST" url ="{{url_for('group', group_id=group.id)}}" role="form">
			<input type="text" name="keyword" placeholder = "Enter keyword(s)">
			<button type="submit" name="fuzzy" class="btn btn-primary" value="Search">Search</br>
		</form>
	</div>

	{% if admins %}
		<strong> Admins: </strong></br>
		</br>
	{% else %}
		<strong> No admins were found</strong></br>
	{% endif %}	
	{%for admin in admins %}
		<div class="row pad">
    		<div class="col-lg-12">
        		<div class="panel panel-primary">
            		<div class="panel-body">
            	    	<div class="row">
            	    	    <div class="col-lg-12">
								<a href="{{ url_for('inspect_profile', user_id=admin.id) }}" class="btn btn-primary"> <i class="glyphicon glyphicon-sunglasses"></i> {{admin.name}}</a></br>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>						
	{%endfor%} 
	{%if members %}	
		</br>
		<strong>All Members: </strong></br>
	{% else %}
		<strong> No members were found</strong></br>
	{% endif %}		
	{%for member in members %}
			<div class="row pad">
    			<div class="col-lg-12">
        			<div class="panel panel-primary">
            			<div class="panel-body">
                			<div class="row">
                	    		<div class="col-lg-12">
									<a href="{{ url_for('inspect_profile', user_id=member.id) }}" class="btn btn-primary"> <i class="glyphicon glyphicon-user"></i> {{member.name}}</a></br>
									{% if member not in admins%}
										<form method="POST" role="form" id="kick">
											<input type="hidden" id="memberId" name="member_id" value={{member.id}}>		
											<button type="submit" name="kick" class="btn btn-primary"> <i class="glyphicon glyphicon-remove"></i> Kick Member </button>
										</form>
										<form method="POST" role="form" id="promote">
											<input type="hidden" id="memberId" name="member_id" value={{member.id}}>
											<button type="submit" name="promote" class="btn btn-primary"> <i class="glyphicon glyphicon-ok-sign"></i> Make Admin </button>
										</form>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>						
	{% endfor %}	

		

{% endblock %}
