{% extends "base.html" %}
{% block title %}Post{% endblock %}

{% block body %}
<div class="row pad">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <strong>Post:</strong> {{ post.content }}
                    </div>
                    <br/>
                    <br/>
                    {%if post.file_name != None %}
                    	<div class="col-lg-12">
                    		<br><a href="/static/uploads/{{ post.file_name }}" download>{{ post.actual_filename }}</a></br>
                    	</div>
                    {% endif %}
                    <div class="col-lg-12">
                        <br/>  <i class="glyphicon glyphicon-calendar"></i> 
                        {{ post.date_created.strftime('%d.%m.%Y, %H:%M:%S') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if linked_to %}
	<h2>Linked to:</h2>
	{% for event in linked_to %}
		<div class="panel panel-primary post" id="r1" style="border-radius: 20px;">
    	<div class="panel-body">
    	    <div class="row post">
    	        <div class="col-lg-9">
    	            <div class="post-content"> <a href="{{ url_for('event', id=event.id) }}" style="font-size: 18px" class="blue">{{ event.name }} </div>
    	        </div>
    	    </div>
    	</div>
	</div>
	{% endfor %}
{% endif %}

<h2>All comments for this post:</h2>

{% for comment in comments %}
	<div class="panel panel-primary post" id="r1" style="border-radius: 20px;">
    	<div class="panel-body">
    	    <div class="row post">
    	        <div class="col-lg-9">
    	            <div class="post-content"> <a href="{{ url_for('post', post_id=post.id) }}" style="font-size: 18px" class="blue">{{ comment.content }} </div>
    	        </div>
    	        </br>
    	        </br>
    	        {% if comment.file_name != None %}
    	        	<a href="/static/uploads/{{ comment.file_name }}" download>{{ comment.actual_filename }}</a></br>
    	        {% endif %}
    	        <a href="{{url_for('update_comment', comment_id=comment.id)}}" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i> Update</a>
    	        <a href="/delete_comment/{{ comment.id }}" class="btn btn-primary"><i class="glyphicon glyphicon-remove"></i> Delete</a>
    	        <br/>
    	        <br/>
    	        <br/>
    	        <div class="col-lg-3">
    	            <div class="post-details">
    	                <i class="glyphicon glyphicon-calendar"></i> {{ comment.date_created.strftime('%d.%m.%Y, %H:%M:%S') }} &nbsp; <br />
    	            </div>
    	        </div>
    	    </div>
    	</div>
	</div>
{% endfor %}

<div class="row">
    		<div class="col-lg-3">
        		<a href=#AddComment data-toggle="modal", class="btn btn-primary" title="Create Comment">
            	<i class="glyphicon glyphicon-pushpin"></i> Add Comment</a>
    		</div>
		</div>
<div class="modal fade" id="AddComment">
    		<div class="modal-dialog">
        		<div class="modal-content">
           			 <div class="modal-header">
                		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                		<h4 class="modal-title">Create Comment</h4>
            		</div>
           			<div class="modal-body">
                    	 <form method="POST" role="form" id="theForm" enctype="multipart/form-data">
    					 <br><textarea name="comment_content" style="width:550px;height:50px;" placeholder = "Content"></textarea><br>
						 <br><input class="form-control center" style="text-align: center;margin: 0 auto;" name ="comment_file" type = "file" placeholder = "File"><br>
                    	 <button type="submit" name="comment" class="btn btn-primary"> <i class="glyphicon glyphicon-plus"></i> Add your new comment </button>						                               		
                		 </form>
                </form>
            </div>
        </div>
    </div>
</div>   

<div class="modal fade" id="newModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Link to event</h4>
            </div>
            <div class="modal-body">
                <form method = "POST"  url = "post/{{post.id}}" enctype="multipart/form-data">
                	{% for event in unlinked %}
                		<br><input type="radio" id="link" name="event" value="{{event.id}}">
						<label for="link">{{event.content}}</label></br>
                    {% endfor %}
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</div>  

{% endblock %}
