{% extends "base.html" %}
{% block title %}Profile Data{% endblock %}

{% block body %}

<h1> Your profile data </h1>

<h4> Your Email Address is: &emsp; {{ current_user.email }} </h4>
<h4> Your Username is: &emsp;&emsp;&nbsp;&nbsp;&nbsp; {{ current_user.username }}</h4>
<h4> Your Name is: &emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp; {{ current_user.name }} </h4>
<h4> Your Age is: &emsp;&emsp;&emsp;&emsp;&emsp;&nbsp; {{ current_user.age }} </h4>
<h4> Your Sex is: &emsp;&emsp;&emsp;&emsp;&emsp;&nbsp; {{ current_user.gender }} </h4>
<h4> Your Status is: &emsp;&emsp;&emsp;&emsp;&nbsp; {{ current_user.status }} </h4>

{% endblock %}